/* Path: public\main.css */

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(fonts/roboto-regular-webfont.woff2) format("woff2"),
        url(fonts/roboto-regular-webfont.woff) format("woff");
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark light;
}

body {
    font-family: "Roboto";
    font-size: 1.25rem;
    line-height: 1.5;
}
